<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    
    <meta property="og:title" content="Mostra de TCCs BCC 2015"/>
    <meta property="og:site_name" content="Mostra de TCCs BCC 2015"/>
    <meta property="og:description" content="Trabalhos de TCC do curso de Ciência da Computação da UNESP de Bauru."/>

    <!-- ESTILOS DO TEMA -->
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">

    <!-- ESTILOS DO SITE -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <!-- ANGULAR -->
    <script src="javascripts/angular.min.js"></script>

    <!-- SERVIÇOS -->
    <script src="javascripts/services.js"></script>
    <script src="javascripts/Services/dataService.js"></script>

    <!-- CONTROLADORES -->
    <script src="javascripts/controllers.js"></script>
    <script src="javascripts/Controllers/tccs.js"></script>

    <!-- APP -->
    <script src="javascripts/app.js"></script>

    <title>TCCs BCC 2015</title>
  </head>

  <body ng-app="tccs">

    <header>
      <div class="container">
        <h1>TCCs BCC 2015</h1>
        <h2>TCCs do curso de Ciência da Computação da UNESP de Bauru apresentados em Janeiro de 2016</h2>
      </div>
    </header>

    <div class="container">
      <section ng-controller="TccsController" id="main_content">
        <article ng-repeat="tcc in tccs" class="tcc">
          <header>
            <h3>{{tcc.titulo}}<h3>
            <h4>Autor: {{tcc.autor}}</h4>
            <h4>Orientador: {{tcc.orientador}}</h4>
            <h4 ng-if="tcc.coorientador">Co-Orientador: {{tcc.coorientador}}</h4>
          </header>
          <section class="content">
            <div class="resumo">
              <p>{{tcc.resumo}}</p>
            </div>
          </section>
          <section class="referencias">
            <a ng-if="tcc.monografia" href="{{tcc.monografia}}" target="_blank">Monografia</a>
            <a ng-if="tcc.apresentacao" href="{{tcc.apresentacao}}" target="_blank">Apresentação</a>
            <a ng-if="tcc.github" href="{{tcc.github}}" target="_blank">GitHub</a>
          </section>
        </article>
      </section>
    </div>


  </body>
</html>
